<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["Admin.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <CascadingAuthenticationState>
        <Routes />
    </CascadingAuthenticationState>
    
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script>
        // Hàm JavaScript để phát nhạc từ đường dẫn URL
        window.playAudioFromUrl = (url) => {
        var audio = new Audio(url);
        audio.play().catch(error => {
        console.error("Trình duyệt chặn tự động phát:", error);
        alert("Vui lòng nhấn vào trang web một lần để cho phép phát âm thanh.");
        });
        };
    </script>
</body>

</html>
