<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="Admin.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <CascadingAuthenticationState>
        <Routes />
    </CascadingAuthenticationState>
    
    <ReconnectModal />
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiBveMDzgHwoU2PFXtsmllwujFGbDLigo"></script>
    
    <script src="/js/admin-interop.js"></script>
    <script src="_framework/blazor.web.js"></script>
    
    <script>
        // Hàm JavaScript để phát nhạc từ đường dẫn URL
        window.playAudioFromUrl = (url) => {
            const audio = new Audio(url);
            audio.play();
        };
    </script>
</body>
</html>